/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-dark: #333;
    --clr-green: #0f775f;
    --main-font-family: "Roboto", "Arial", sans-serif;
    --font-weight: 400;
    --font-weight-secondary: 500;
    --font-weight-bold: 700;
}


@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
        url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-500.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-700.woff") format("woff");
}



*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: var(--font-weight);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    display: block;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: var(--font-weight-bold);
}

section:not(.site-footer, .hero) {
    margin: 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* sticky footer */
.site-main {
    flex-grow: 1;
}

.text-black {
    color: var(--clr-black);
}

.text-white {
    color: var(--clr-white);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

a {
    text-decoration: none;
}

.btn {
    padding: 16px 24px;
    border: none;
    background-color: transparent;
    border-radius: 100px;
    font-weight: var(--font-weight-secondary);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.btn-success {
    background-color: var(--clr-green);
}

.container {
    width: 1380px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.text-black {
    color: var(--clr-black);
}

.text-dark {
    color: var(--clr-dark);
}

.bold {
    font-weight: var(--font-weight-bold);
}

.medium {
    font-weight: var(--font-weight-secondary);
}

.site-header {
    padding: 45px 0;
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sitenav-item:nth-child(2) {
    margin: 0 40px;
}

.sitenav-link {
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}

/* hero start */
.hero {
    padding-left: 150px;
    background-image: url("../images/hero-bg.jpg");
    /* background-size: cover; */
}

.hero-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero-start {
    width: 464px;
    padding-top: 120px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 75px;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
}

.hero-img-wrapper {
    position: relative;
}

.hero-img-wrapper::before {
    position: absolute;
    top: -80px;
    left: -65px;
    width: 160px;
    height: 160px;
    background-image: url("../images/hero-logo.png");
    background-position: center;
    z-index: 1;
    content: "";
}

.hero-img {
    position: relative;
}

/* collections */

.collections {
    margin: 14px 20px 20px 20px;
    padding: 50px 0;
    background-image: url("../images/collection-bg.jpg");
    background-size: cover;
}

.collections-wrapper {
    text-align: center;
}

.collections-title {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
}

.collections-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.collection-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.collection-item::before {
    position: absolute;
    width: 402px;
    height: 300px;
    background-size: cover;
    content: "";
}

.collection-item:nth-child(1)::before {
    top: -15%;
    left: -35%;
    background-image: url("../images/leaves/Vector-2.png");
}

.collection-item:nth-child(2)::before {
    bottom: -60%;
    right: -35%;
    width: 392px;
    height: 477px;
    background-image: url("../images/leaves/Fill-1.svg");
    z-index: 3;

}

.collection-item:nth-child(3)::before {
    top: -20%;
    right: -28%;
    width: 253px;
    height: 215px;
    background-image: url("../images/leaves/Vector.png");
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);

}

.collection-item:nth-child(4)::before {
    top: -15%;
    left: -38%;
    width: 316px;
    height: 269px;
    background-image: url("../images/leaves/Vector.png");
}


.collection-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.collection-item:nth-child(even) img {
    margin-right: 0;
}

.collection-img {
    margin-right: 177px;
}

.collection-desc-wrapper {
    text-align: left;
    max-width: 453px;
}

.collection-item-title {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 56px;
    color: #333333;
}

.collection-item-description {
    font-size: 22px;
    line-height: 34px;
}

/* about section */

.about {
    display: flex;
    flex-direction: column;
    background-image: url("../images/choose-bg.jpg");
    background-size: 100% 703px;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.about-wrapper {
    width: 580px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.about-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #fff;
}

.about-text {
    margin-bottom: 80px;
    line-height: 28px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.8;
    color: #fff;
}

.about-list {
    display: flex;
}

.about-item::before {}

.about-item:nth-child(2) {
    margin: 0 20px;
}

.about-item::before {
    content: "";
    display: block;
    width: 433px;
    height: 500px;
    margin-bottom: 28px;
}

.about-item:nth-child(1)::before {
    background-image: url("../images/Rectangle\ 681.jpg");
}


.about-item:nth-child(2)::before {
    background-image: url("../images/Rectangle\ 682.jpg");
}


.about-item:nth-child(3)::before {
    background-image: url("../images/Rectangle\ 683.jpg");
}

.about-item-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #333333;
}

.about-item-desc {
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

/* work */
.work {
    position: relative;
    margin: 0 20px 50px 20px;
    padding: 50px 0;
    background-image: url("../images/green-bg.jpg");
    background-size: cover;
}

.work::before {
    content: "";
    position: absolute;
    top: 15%;
    right: 0;
    width: 192px;
    height: 129px;
    background-image: url("../images/sticker-3\ 1.png");
    background-size: cover;
    background-position: center;
}

.work-title {
    margin-bottom: 160px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    color: #fff;
}

.work-list {
    display: flex;
    margin-bottom: 60px;
    position: relative;
}

.work-list::before {
    content: "";
    display: block;
    position: absolute;
    top: -17%;
    width: 70%;
    height: 3px;
    border-bottom: 3px dashed #C99B67;

}

.work-item {
    /* max-width: 433px; */
    position: relative;
    padding: 20px 40px 20px 20px;
    background-color: #F8F8F2;
}

.work-item:nth-child(2) {
    margin: 0 10px;
}

.work-item::before {
    content: "";
    position: absolute;
    top: -25%;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #F8F8F2;
    border: 4px solid #C99B67;
}


.work-number {
    margin-bottom: 45px;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */

    font-variant: small-caps;
    text-align: right;
    color: #333333;

    opacity: 0.8;
}

.work-item-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #333333;
}

.work-item-text {
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

.btn-coral {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #C99B67;
}

.site-footer {
    padding: 45px 0;
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.social-list {
    display: flex;
}

.social-item:nth-child(2) {
    margin: 0 30px;
}

/*******************************
    ABOUT PAGE
********************************/

.commitment {
    position: relative;
    padding-top: 160px;
    padding-bottom: 200px;
    margin-bottom: 160px;
    background-image: url("../images/about/Group\ 3615.jpg")
}

.commitment::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-image: url("../images/about/cuppacoffee.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(100% - 200px);
}

.commitment-wrapper {
    width: 45%;
    margin-left: auto;
}

.commitment-title {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 56px;
}

.commitment-text {
    font-size: 18px;
    line-height: 30px;
    color: var(--clr-dark);
}

/*******************************
    QUALITY SECTION
********************************/

.quality {
    position: relative;
    background-image: url("../images/choose-bg.jpg");
}


.quality-wrapper {
    width: 100%;
    margin-right: 38px;
    padding-top: 100px;
    padding-left: 130px;
    padding-bottom: 118px;
    background-image: url("../images/Rectangle\ 683.jpg");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: calc(50% + 400px);
}

.quality-inner {
    width: 54%;
}

.quality-title {
    margin-bottom: 24px;
    font-size: 50px;
    line-height: 59px;
}

.quality-text {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
}

/*******************************
    HEADQUARTERS SECTION
********************************/

.headquarters {
    margin-bottom: 50px !important;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url("../images/green-bg.jpg");
}

.headquarters-title {
    margin-bottom: 80px;
    font-size: 50px;
    text-align: center;
    line-height: 59px;
}

.headquarters-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 3);
    padding: 140px 0px 40px 20px;
    background-color: #f8f8f2;
}

.headquarters-item:nth-child(2) {
    margin: 0 20px;
}

.headquarters-item::before {
    position: absolute;
    top: 8%;
    right: 10%;
    width: 120px;
    height: 143px;
    margin-bottom: 28px;
    content: "";
}

.headquarters-item:nth-child(1)::before {
    background-image: url("../images/about/Combined\ Shape-2.svg");
}
.headquarters-item:nth-child(3)::before {
    background-image: url("../images/about/Combined\ Shape.svg");
    background-size: 120px 143px;
}


.headquarters-item:nth-child(2)::before {
    background-image: url("../images/about/Combined\ Shape-1.svg");
}



.headquarters-item-title {
    margin-bottom: 10px;
    font-weight: var(--font-weight-secondary);
    font-size: 40px;
    line-height: 47px;
    color: var(--clr-dark);
}

.headquarters-item p {
    font-size: 18px;
    line-height: 28px;
    color: var(--clr-dark);
}