/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --clr-black: #000;
    --clr-dark: #333;
    --clr-green: #0f775f;
    --main-font-family: "Roboto", "Arial", sans-serif;
    --font-weight: 400;
    --font-weight-secondary: 500;
    --font-weight-bold: 700;
}


@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
        url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-500.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
        url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

body {
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: var(--font-weight);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    height: auto;
}

.btn {
    padding: 16px 24px;
    border: none;
    background-color: transparent;
    border-radius: 100px;
    font-weight: var(--font-weight-secondary);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.btn-success {
    background-color: var(--clr-green);
}

.container {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.text-black {
    color: var(--clr-black);
}

.text-dark {
    color: var(--clr-dark);
}

.bold {
    font-weight: var(--font-weight-bold);
}

.medium {
    font-weight: var(--font-weight-secondary);
}

.site-header {
    padding: 45px 0;
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sitenav-item:nth-child(2) {
    margin: 0 40px;
}

.sitenav-link {
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}

/* hero start */
.hero {
    padding-left: 150px;
    background-image: url("../images/hero-bg.jpg");
    /* background-size: cover; */
}

.hero-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero-start {
    width: 464px;
    padding-top: 120px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 75px;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
}

.hero-img-wrapper {
    position: relative;
}

.hero-img-wrapper::before {
    position: absolute;
    top: -80px;
    left: -65px;
    width: 160px;
    height: 160px;
    background-image: url("../images/hero-logo.png");
    background-position: center;
    z-index: 1;
    content: "";
}

.hero-img {
    position: relative;
}

/* collections */

.collections {
    margin: 14px 20px 20px 20px;
    padding: 50px 0;
    background-image: url("../images/coffees/bg.jpg");
    background-size: cover;
}

.collections-wrapper {
    text-align: center;
}

.collections-title {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
}

.collections-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.collection-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.collection-item::before {
    position: absolute;
    width: 402px;
    height: 300px;
    background-size: cover;
    content: "";
}

.collection-item:nth-child(1)::before {
    top: -15%;
    left: -35%;
    background-image: url("../images/leaves/Vector-2.png");
}

.collection-item:nth-child(2)::before {
    bottom: -60%;
    right: -35%;
    width: 392px;
    height: 477px;
    background-image: url("../images/leaves/Fill-1.svg");
    z-index: 3;

}

.collection-item:nth-child(3)::before {
    top: -20%;
    right: -28%;
    width: 253px;
    height: 215px;
    background-image: url("../images/leaves/Vector.png");
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);

}

.collection-item:nth-child(4)::before {
    top: -15%;
    left: -38%;
    width: 316px;
    height: 269px;
    background-image: url("../images/leaves/Vector.png");
}


.collection-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.collection-item:nth-child(even) img {
    margin-right: 0;
}

.collection-img {
    margin-right: 177px;
}

.collection-desc-wrapper {
    text-align: left;
    max-width: 453px;
}

.collection-item-title {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 56px;
}

.collection-item-description {
    font-size: 22px;
    line-height: 34px;
}

/* about section */

.about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url("../images/choose-bg.jpg");
    background-size: 100% 703px;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.about-wrapper {
    width: 580px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.about-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #fff;
}

.about-text {
    margin-bottom: 80px;
    line-height: 28px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.8;
    color: #fff;
}

.about-list {
    display: flex;
}

.about-item::before {}

.about-item:nth-child(2) {
    margin: 0 20px;
}

.about-item::before {
    content: "";
    display: block;
    width: 433px;
    height: 500px;
    margin-bottom: 28px;
}

.about-item:nth-child(1)::before {
    background-image: url("../images/Rectangle\ 681.jpg");
}


.about-item:nth-child(2)::before {
    background-image: url("../images/Rectangle\ 682.jpg");
}


.about-item:nth-child(3)::before {
    background-image: url("../images/Rectangle\ 683.jpg");
}

.about-item-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #333333;
}

.about-item-desc {
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

/* work */
.work {
    padding: 50px 0;
    background-image: url("../images/green-bg.jpg");
    background-size: cover;
}

.work-title {
    margin-bottom: 160px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    color: #fff;
}

.work-list {
    display: flex;
    margin-bottom: 60px;
}

.work-item {
    /* max-width: 433px; */
    padding: 20px 40px 20px 20px;
    background-color: #F8F8F2;
}

.work-item:nth-child(2){
    margin: 0 10px;
}

.work-number {
    margin-bottom: 45px;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */

    font-variant: small-caps;
    text-align: right;
    color: #333333;

    opacity: 0.8;
}

.work-item-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;

    color: #333333;
}

.work-item-text {
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

.btn-coral{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #C99B67;
}

.site-footer{
    padding: 45px 0;
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.social-list{
    display: flex;
}

.social-item:nth-child(2){
    margin: 0 30px;
}